@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;  
  box-sizing: border-box;  

  z-index: 1;
  position: absolute;  
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  visibility: hidden;  

  animation-name: fadeOut;
  animation-direction: normal;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;  
  animation-timing-function: linear;  
}

.visible {
  opacity: 1;
  visibility: visible;

  animation-name: fadeIn;
  animation-direction: normal;
  animation-delay: 0s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;  
  animation-timing-function: linear;
}