.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.main {
  composes: mb-10 from global;

  height: calc(98vh - 248px);
  max-width: 1240px;
  align-self: center;
}
