.ingredients {
  display: flex;
  flex-direction: column;  
  max-width: 600px;
}

.content {
  composes: custom-scroll from global;
  overflow: scroll;
}

.content::-webkit-scrollbar {
  height: 0;
}

.content::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 0;
};

