.menuTextActive {
  composes: text text_type_main-default from global;
}

.menuTextInactive {
  composes: text text_type_main-default text_color_inactive from global;
}

.header { 
  composes: m-10 p-4 from global;
  background-color: #1C1C21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "menuArea logoArea profileArea";
}

.menuArea {
  grid-area: menuArea;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
}

.logoArea {
  grid-area: logoArea;

  display: flex;
  justify-content: center;
}

.profileArea {
  grid-area: profileArea;
}

.profile {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
